<div class="container-fluid">
  <section class="container">
  <div class="row">				
    <div class="col-md-6">
      <h3 class="dark-grey">Registration</h3>
      <form #frm="ngForm" (ngSubmit)="onSubmit(frm.value)">
      <div class="form-group col-lg-12">
        <label>Username</label>
        <input type="text" name="empUsername" class="form-control" #empUsername required ngModel>
      </div>
      
      <div class="form-group col-lg-6">
        <label>Password</label>
        <input type="password" name="empPassword" class="form-control" #empPassword required ngModel>
      </div>
      
      <div class="form-group col-lg-6">
        <label>Repeat Password</label>
        <input type="password" name="empPassword" class="form-control" id="" required ngModel>
      </div>
              
      <div class="form-group col-lg-6">
        <label>Email Address</label>
        <input type="email" name="empEmail" class="form-control" #empEmail required ngModel>
      </div>
      	
      <button type="submit" [disabled]="!frm.valid" class="btn btn-primary">Register</button>
      <button type="button" [routerLink]="['']" class="btn btn-primary">Login</button>
      </form>

    </div>
  </div>
</section>
</div>